*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    width: 100%;
    height: 100%;
}

.Calculator{
    background-color: rgb(35, 30, 134);
    padding: 1em;
    margin: 70px auto;
    min-width: 100px;
    display: flex;
    flex-direction: column;
}

.display{
    display: flex;
    justify-content: flex-start;
}
.Results{
    min-height: 60px;
    min-width: 368px;
    border-radius: 10px;
    color: black;
    display: flex;
    background-color: rgb(221, 241, 221);
}

.firstRow,
.secondRow,
.thirdRow,
.fourthRow,
.lastRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5em;
}

input{
    padding: 0.4em;
    font-size: 20px;
    font-weight: bolder;
    margin: 0.3em;
    min-width: 4em;
    min-height: 3em;
    border-radius: 15px;
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(92, 92, 213);
}

input:hover{
    background-color: hsl(0, 10%, 80%);
    color: black;
}
input:active{
    background-color: hsl(0, 10%,70%);
}

.special{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 15px;
    padding: 1em;
    width: 172px;
    background-color: green;
}

.AC,
.Del{
    background-color: #9b2d2d;

}

.Symbols{
    background-color:#FFDB58;
}